.container{
    border: 2px solid blueviolet;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.item{
    background-color: lightcoral;
    padding: 20px;
    margin: 10px;
    text-align: center;

}
.container-justify{
        border: 2px solid rgb(26, 40, 236);
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
}

.content-align{
        border: 2px solid rgb(26, 40, 236);
        padding: 20px;
        height: 300px;
        display: flex;
        align-items: stretch;/*vertically*/
        justify-content: space-between;/*horizontal*/
        
}

 /* 
 align item
1.flex start
2.flex-end
3.center 
4.baseline
5.stretch
 */

 .container-direction{
        border: 2px solid #ff00e1;
        padding: 20px;
        display: flex;
        height: 300px;
        flex-direction: column-reverse;
 }